body {
	background-color: black;
	overflow: hidden;
	font-family: "Helvetica", Arial, Serif;
	position: relative;
	background: url('img/background.jpg') top center no-repeat;
	padding: 0px;
	margin: 0px;
}

#stickers
{
	width: 768px;
	height: 120px;
	margin: 0 auto;
	padding: 0px;
	padding-top: 30px;
}

#stickers ul
{
	margin: 0px;
	padding: 0px;
	font-size: 0px;
	text-align: center;
}

li.stickerthumb
{
	width: 46px;
	height: 46px;
	overflow: hidden;
	border-radius: 24px;
	border: 2px solid #2ba7de;
	margin: 0 10px 0 10px;
	display: inline-block;
}

.stickerthumb img
{
	width: 100%;
	height: auto;
}

#videoscreen
{
	width: 768px;
	height: 480px;
	margin: 0 auto;
	margin-bottom: 50px;
}

.videooverlay
{
	position: absolute;
	width: 768px;
	height: 480px;
	background: url('img/screen.png');
}

video, canvas, p {
	text-align: center;
	margin: 0 auto;
	width: 768px;
}

p {
	color: #fff;
}
